Repository quay/clair, pull requests merged in 2018-09, with the labels that each got.

#607 enforce gofmt in travis
  .travis.yml
  ext/featurens/driver_test.go
  ext/vulnsrc/rhel/rhel.go
  ext/vulnsrc/ubuntu/ubuntu.go
  updater_test.go
Labels: area/developer tooling, area/testing, kind/cleanup

#613 Introduce pkg/pagination
  api/v3/rpc.go
  cmd/clair/config.go
  cmd/clair/main.go
  database/database.go
  database/mock.go
  database/models.go
  database/pgsql/notification.go
  database/pgsql/notification_test.go
  database/pgsql/pgsql.go
  database/pgsql/pgsql_test.go
  database/pgsql/token/token.go
  pkg/pagination/pagination.go
Labels: component/database, kind/cleanup

#614 Replace Ancestry with AncestryWithContent struct in database models
  api/v3/clairpb/clair.pb.go
  api/v3/clairpb/clair.pb.gw.go
  api/v3/clairpb/clair.proto
  api/v3/clairpb/clair.swagger.json
  api/v3/clairpb/convert.go
  api/v3/rpc.go
  api/v3/util.go
  database/database.go
  database/mock.go
  database/models.go
  database/pgsql/ancestry.go
  database/pgsql/ancestry_test.go
  database/pgsql/layer.go
  database/pgsql/queries.go
  worker.go
  worker_test.go
Labels: component/database, kind/cleanup

#617 Introduce pkg/grpcutil
  api/api.go
  api/v3/server.go
  pkg/grpcutil/gateway.go
  pkg/grpcutil/muxed_server.go
  pkg/grpcutil/server.go
  pkg/httputil/httputil.go
Labels: component/api, kind/cleanup

#621 pkg/gitutil: init
  ext/vulnsrc/alpine/alpine.go
  ext/vulnsrc/driver.go
  ext/vulnsrc/ubuntu/ubuntu.go
  pkg/gitutil/gitutil.go
Labels: component/ext/vulnsrc, kind/cleanup

#624 .github: add stale and issue template enforcement
  .github/ISSUE_TEMPLATE.md
  .github/issue-close-app.yml
  .github/stale.yml
Labels: area/developer tooling
