Repository quay/clair, pull requests merged in 2019-01, with the labels that each got.

#506 Reintroduce image scanning for openSUSE and SLE
  Documentation/drivers-and-data-sources.md
  cmd/clair/main.go
  ext/featurens/osrelease/osrelease.go
  ext/vulnsrc/suse/suse.go
  ext/vulnsrc/suse/suse_test.go
  ext/vulnsrc/suse/testdata/fetcher_opensuse_test.1.xml
  ext/vulnsrc/suse/testdata/fetcher_sle_test.1.xml
Labels: component/ext/featurens, component/ext/vulnsrc, lacking/review

#686 documentation: fix links to presentations
  Documentation/presentations.md
Labels: kind/documentation

#687 config: enable suse updater
  config.yaml.sample
Labels: component/config

#680 Replace arrays with slices
  database/pgsql/feature.go
  database/pgsql/layer.go
Labels: area/performance, component/database, reviewed/needs rework

#700 Make nodePort configurable with helm
  contrib/helm/clair/templates/service.yaml
Labels: area/dev tooling, area/distribution
