Repository quay/clair, pull requests merged in 2019-03, with the labels that each got.

#725 Add license check test
  api/v3/util.go
  database/pgsql/ancestry.go
  database/pgsql/migrations/util.go
  ext/featurens/driver_test.go
  license_header_test.go
  pkg/formatter/formatter.go
Labels: area/dev tooling, area/testing

#724 database: move db logic to dbutil
  api/v3/rpc.go
  api/v3/util.go
  database/dbutil.go
  ext/vulnsrc/suse/suse.go
  ext/vulnsrc/ubuntu/ubuntu.go
  notifier.go
  updater.go
Labels: component/database, kind/cleanup

#722 featuturefmt: Extract PotentialNamespace
  database/dbutil.go
  database/models.go
  database/pgsql/layer.go
  database/pgsql/layer_test.go
  database/pgsql/migrations/00001_initial_schema.go
  database/pgsql/queries.go
  database/pgsql/testdata/data.sql
  database/pgsql/testutil.go
  ext/featurefmt/apk/apk.go
  ext/featurefmt/apk/apk_test.go
  ext/featurefmt/dpkg/dpkg.go
  ext/featurefmt/dpkg/dpkg_test.go
  ext/featurefmt/driver.go
  ext/featurefmt/rpm/rpm.go
  ext/featurefmt/rpm/rpm_test.go
  ext/featurefmt/testutil.go
Labels: component/database, lifecycle/preserve

#735 pkg/grpcutil: use cockroachdb cipher suite
  pkg/grpcutil/muxed_server.go
Labels: component/api

#736 api: use cockroachdb cipher suite
  api/api.go
  ext/vulnsrc/rhel/rhel.go
  ext/vulnsrc/ubuntu/ubuntu.go
Labels: component/api

#749 tarutil: allow file names to be specified by regexp
  ext/featurefmt/apk/apk.go
  ext/featurefmt/dpkg/dpkg.go
  ext/featurefmt/driver.go
  ext/featurefmt/rpm/rpm.go
  ext/featurens/alpinerelease/alpinerelease.go
  ext/featurens/aptsources/aptsources.go
  ext/featurens/driver.go
  ext/featurens/lsbrelease/lsbrelease.go
  ext/featurens/osrelease/osrelease.go
  ext/featurens/redhatrelease/redhatrelease.go
  pkg/tarutil/tarutil.go
  pkg/tarutil/tarutil_test.go
Labels: lifecycle/preserve

#742 set / as default path but allow for individual configuration in values.yml
  contrib/helm/clair/templates/ingress.yaml
Labels: area/usability, component/contrib
